*{margin:0;padding: 0;}
body, button, input, select, textarea {font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;}
a{text-decoration: none;}
li{list-style: none;}

/* header部分样式 */
#header{width: 100%;background: #F5F5F5;border-bottom: 1px solid #EEE;}
#header .head{margin: 0 auto;width: 950px;height: 35px;background: #F5F5F5;-webkit-backface-visibility: hidden;}
#header .head ul{margin:0;}
#J_SiteNavBdL{float:left;}
#J_LoginInfo{float:left;}
.menu-hd {z-index: 10002;position: relative;padding: 0 6px;height: 35px;line-height: 35px;_display: inline;_zoom: 1;}
.menu{float:left;}
.menu .menu-hd a {float: left;margin-right: 7px;font-size: 12px;color: #6C6C6C;text-decoration: none;}
.menu .menu-hd span {float: left;font-size: 12px;color: #6C6C6C;text-decoration: none;}
.menu .menu-hd i.iconfont{font-size: 20px;float:left;}
.menu .menu-hd span:hover{color:#F22E00;}
.h {color: #F22E00!important;}
.mobile{float:left;}
#J_SiteNavBdR{float:right;}
#J_SiteNavBdR li{position:relative;}
#J_SiteNavBdR li .menulist{width: 90px;display:none;z-index:4;position:absolute;top:35px;left:0px;background:#FFF;color:#000;padding: 5px 0;}
#J_SiteNavBdR li:hover{background:#FFF;}
#J_SiteNavBdR li:hover>.menulist{display:block;}


#J_SiteNavBdR li .menulist a{font-size: 12px;text-decoration: none;display: block; padding: 0 5px;line-height: 28px;white-space: nowrap;color: #6C6C6C;}
#J_SiteNavBdR li .menulist a:hover{background:#efefef;}


.site-nav-bd-r .site-nav-pipe {float: left;height: 35px;line-height: 35px;}

/* 内容区域 */
	/* 搜索部分1 */
	#container .search{position: relative;z-index: 3;min-width: 950px;width: auto;border-bottom: 1px dotted #f40;background-color: #FFF;}
	#container .search .searchbox{position: relative;width: 1140px;height: 70px;max-width: 1190px;margin: 0 auto;min-width: 950px;color: #3c3c3c;}
	#container .search .searchbox .logo-search{width: 130px;height: 70px;float: left;position:relative;}
	#container .search .searchbox .logo-search img{margin-top: 13px;}
	#container .search .searchbox .shop-summary{width: 500px;height:100%;float:left;}
	#container .search .searchbox .shop-summary .shop_box{position: absolute;width: 475px;top: 70px;left: 130px;display: none;background: url(../img/shop_box_bj.png) 0 0 no-repeat #fff;-webkit-box-shadow: 2px 2px 1px 0 #aaa;-moz-box-shadow: 2px 2px 1px 0 #aaa;box-shadow: 2px 2px 1px 0 #aaa;border: 1px solid #ffb8a6;}
	#container .search .searchbox .shop-summary:hover .shop_box{display:block;}
	#container .search .searchbox .shop-summary .shop_box .pop-shop-info {width: 420px;height: 30px;margin: 55px 28px 0;}
	#container .search .searchbox .shop-summary .shop_box .pop-shop-info .pop-shop-name{height: 20px;padding-top: 8px;line-height: 20px;}
	#container .search .searchbox .shop-summary .shop_box .pop-shop-info .pop-shop-name .title{color: #6c6c6c;}
	.more-info {float: left;margin: 0 auto;margin-left: 28px;_margin-left: 14px;width: 420px;border-bottom: 1px solid #e9e9e9;}
	.shop-more-info { float: left;width: 210px;border-right: 1px solid #e9e9e9;margin-bottom: 15px;margin-top: 8px;}
	.more-info .info-item-first {padding-top: 0;}
	.more-info .info-item {clear: both;line-height: 20px;padding-top: 8px;font-size: 12px;}
	.more-info .title {float: left;color: #6c6c6c;}
	.more-info .company-name {float: left; width: 145px;}
	.J_TGoldlog a {color: #3c3c3c;}
	.more-info .tb-seller-bail {display: block;float: left;padding-right: 5px;height: 14px;overflow: hidden;
	    border: 1px solid #05ba97;vertical-align: bottom;line-height: 14px;color: #05ba97;margin-top: 3px;margin-right: 3px;}
	.more-info .tb-seller-bail i {float: left;width: 16px;height: 16px; margin-right: 5px;display: block;
	    background: url(../img/iconmore.png) -259px -1px no-repeat;}
	.more-info .licence {float: left;display: block;width: 20px;height: 22px;background: url(../img/jinghui.png) no-repeat;}
	.more-info .company-info-entry {float: left;display: block;height: 16px;line-height: 16px;border: 1px solid #f6dfd3;background: #ffefe3;color: #e5511d;padding: 1px 2px;border-radius: 2px;margin-top: 2px;
	    margin-left: 5px;}
	.more-info .shop-dynamic-score {float: left;width: 188px;height: 140px;padding-left: 20px;margin-top: 10px;font-size: 12px;}
	.more-info .shop-dynamic-score a{font-size: 12px;}
	.more-info .shop-dynamic-score h3 {height: 20px;line-height: 20px;font-size: 12px;font-weight: 600;
	    margin-bottom: 28px;}
	.more-info .shop-dynamic-score li {height: 30px;line-height: 30px;color: #6c6c6c;}
	.more-info .shop-dynamic-score li .count {margin-left: 5px;margin-right: 15px;}
	.more-info .shop-dynamic-score li .desc {color: #FC461E;}
	.more-info .shop-dynamic-score li .rate-icon {margin-left: 10px;}
	.higher {background-position: -6px -3px;}
	.header-operation {clear: both;padding: 10px 30px;height: 50px;}
	.header-operation .fav-shop {margin-left: 10px;display: block;float: right;width: 110px;height: 28px;
	    padding-left: 40px;line-height: 28px;border: 1px solid #ff4401;border-radius: 2px;color: #fff;background: url(../img/xingxing.png) 15px 5px no-repeat #ff4401;
	    font-size: 12px;text-decoration: none;}
	.header-operation .shop-entry {display: block;float: right;width: 110px;height: 28px;line-height: 28px;
	    padding-left: 40px;border: 1px solid #d8d8d8;border-radius: 2px;background: url(../img/dianpu.png) 15px 7px no-repeat #f9f9f9;font-size: 12px;text-decoration: none;color: #3c3c3c;}

	#container .search .searchbox .shop-summary .qi{height: 100%;float:left;}
	#container .search .searchbox .shop-summary .qi img{margin-top: 12px;border-right: 1px solid #f1f1f1;padding: 0 10px;}
	.shop-name{width: 170px;height: 40px;float:left;line-height: 40px;padding: 0;margin-top: 15px;border-right: 1px solid #f1f1f1;}
	.shop-name p i{width:16px;height:16px;display:inline-block;background:url(../img/iconimg.png) no-repeat 0 0;vertical-align: middle;}
	.shop-name p i.nameicon{background:url(../img/iconimg2.png) no-repeat -259px 0;}
	.shop-name p{font-weight: 600;color: #333;line-height: 18px;margin-bottom: 3px;}
	.shop-name p:first-child span{font-weight: 400;}
	.shop-name p span.nameicon2{display: inline-block;width: 21px;height: 16px;background: url(../img/callme.gif) no-repeat -82px -4px;vertical-align: middle;}
	.shop-service-info{float: left;margin-top: 15px;height: 40px;min-height: 40px;width: 140px;margin-left: 0;padding: 0 0 0 10px;border-left: 1px solid #f1f1f1;}
	.shop-service-info .shop-service-info-list .shop-service-info-item {width: 40px;float: left;text-align: left;}
	.shop-service-info .shop-service-info-list .shop-service-info-item .title {display: block;color: #333;}
	.shop-service-info .shop-service-info-list .shop-service-info-item .rateinfo {display: block;color: #333;}
	.shop-service-info .shop-service-info-list .shop-service-info-item .rateinfo em {width: 24px;float: left;text-align: center;}
	.tb-header-search {position: absolute;top: 12px;right: 0;}
	.search-panel {width: 430px;}
	.search-bottom {clear: both;float: right;text-align: right;white-space: nowrap;padding: 5px 0;height: 28px;line-height: 16px;}
	.search-bottom a{font-size: 12px;text-align: right;color:#3c3c3c;text-decoration: none;}
	.search-buttons {position: relative;z-index: 1;float: right;background-color: #fff;}
	.search-panel-fields {height: 30px;position: relative;zoom: 1;overflow: hidden;background: #f40;}
	.search-button {cursor: pointer;border: 0;font-size: 12px;float: left;width: 72px;height: 30px;background-color: #f40;
    color: #fff;margin-left: -1px;}
    .search-button.secondary {background-color: #ffe4d0;color: #f40;border: 1px solid #ffb086;margin-left: 3px;}
    .search-combobox {margin-left: 2px;margin-right: 0; margin-top: 2px;height: 26px;background: #fff;}
    .search-combobox-input-wrap {position: relative;overflow: hidden;height: 100%;}
	.search-panel-fields .search-combobox-input-wrap input {margin-left: 0;margin-top: 0;}
	.search-panel-fields input {font-size: 14px;position: relative;height: 20px;line-height: 20px;padding: 3px;margin: 2px 0 0 2px;vertical-align: middle;border: 0 none;z-index: 2;width: 100%;outline: 0;text-indent: 5px;}
	.weitao-popup {border: 1px solid #dfdfdf;padding-top: 5px;text-align: center;background: #fff;width: 148px;position: absolute;right: 0;top: 70px;display: none;}
	.header-enterprise-tb .logo-search img {width: 107px;margin-top: 0;}

	/* 搜索部分2 */
	#container .search_two{background:url(../img/search2banner.jpg) no-repeat center top;width: 100%;height: 150px;overflow: hidden;padding-bottom: 0;position: relative;}
	#container .search_two .layout{width: 1030px;margin: 0 auto;height: 100px;}
	#container .search_two .layout .laimg img{margin-top: 12px;}
	#container .search_two .layout .guanzhu{width: 20px;height: 56px;background:url(../img/guanzhu.gif);position: absolute;top: 20px;left: 400px;border-radius: 10px;}
	#container .search_two .layout .guanzhu a{display:block;width:100%;height:100%;border-radius: 10px;}
	#container .search_two .layout .se_two{position:absolute;width: 230px;height: 55px;z-index: 2;top: 25px;
    left: 530px;background: url(../img/searchborder.png) no-repeat;}
	#container .search_two .layout .se_two input{width: 85%;border-radius: 10px;height: 23px;border: 0px;
    margin-top: 2px;margin-left: 2px;text-align: center;}
	#container .search_two .layout .se_two p{text-align: center;line-height: 30px;}
	#container .search_two .layout .se_two p a{color: #999;}
	#container .search_two .layout .switch{width:230px;height: 100px;float:right;background: #efefef;}
	
	#container .search_two .laytent{width:1180px;height:50px;margin:0 auto;position:relative;}
	#container .search_two .laytent ul{margin-left: 120px;}
	#container .search_two .laytent ul li:first-child a{color:#fff;display: inline-block;background: #cf234b;padding: 0 30px;}
	#container .search_two .laytent ul li:first-child a:hover {background:rgba(225,225,225,0.5);}
	#container .search_two .laytent ul li a{text-decoration: none;line-height: 25px;}
	#container .search_two .laytent ul li:last-child a{color:#999;display: inline-block;background: #FFF;padding: 0 30px;}
	#container .search_two .laytent ul li:last-child a:hover{color:#FFF;display: inline-block;background: #333;padding: 0 30px;}
	#container .search_two .laytent .bannerbox{position:absolute;width:250px;height:625px;top:50px;left:0;background:rgba(225,225,225,0.5);} 

	/* banner部分 */
	#container .banner{width: 100%;height: 625px;background: #efefef;}
	.banner img{width: 100%;height:625px !important;}
	
	/*右侧固定客服部分*/
	.customer{width: 51px;height: 57px;border:1px solid #efefef;position: fixed;right: 50px;top:440px;background: rgba(225,225,225,0.5);}
	.customer a.help{display:block;width:100%;height:100%;background:url(../img/kefu.gif);}
	.skin-box-bd {display:none;width: 188px;border-width: 1px 1px 0;border-style: solid;border-color: #e2e2e2;
    position: absolute;left: -189px;top:-100px;background-color: #fff;font-size: 12px;}
	.customer:hover .skin-box-bd{display:block;}
	.skin-box-bd .service-block {padding: 10px 0 10px 20px;border-bottom: 1px solid #e2e2e2;background-color: #fff;}
	.skin-box-bd span {color: #333;}
	.ww-large a {width: 67px;background:url(../img/callme.gif);height: 20px;}
	.ww-inline {display: inline-block;vertical-align: text-bottom;}
	.skin-box-bd h4 {color: #333;font-size: 12px;font-weight: 700;margin-bottom: 15px;}
	.skin-box-bd .service-content li {margin-bottom: 5px;}
	.skin-box-bd .date {margin-right: 14px;}

	/* 满减 */
	#container .fullcut{width:100%;}
	#container .fullcut .fullbox{width:1200px;margin:0 auto;height:180px;background: url(../img/fullbox.png);}

	/* 领券 */
	#container .coupons{width:100%;}
	#container .coupons .coubox{width:1200px;margin:0 auto;height:200px;background: url(../img/coubox.png) no-repeat center;}
	#container .coupons .coubox .boxtlt{width: 925px;height: 100%;float:right;}
	#container .coupons .coubox .boxtlt ul li{position:relative;width: 160px;height: 160px;border-radius: 50%;float: left;margin: 20px 83px 0 0;}
	#container .coupons .coubox .boxtlt ul li:last-child{margin-right:0;}
	#container .coupons .coubox .boxtlt ul li .box_btn{display:block;height: 100%;width: 100%;border-radius: 50%;}
	#container .coupons .coubox .boxtlt ul li .box_txt{position:absolute;width:100%;height:100%;top:0;left: 0;border-radius: 50%;display:none;background: #e43f71;}
	#container .coupons .coubox .boxtlt ul li:hover .box_txt{display:block;}
	#container .coupons .coubox .boxtlt ul li .box_txt p{font-size: 25px;line-height: 40px;font-weight: bold;color: #FFF;text-align: center;}
	#container .coupons .coubox .boxtlt ul li .box_txt p:first-child{margin: 30px 0 5px 0;font-size: 30px;}

	/* 促销 */
	#container .promotion{width:100%;}
	#container .promotion .probox{width:1200px;margin:0 auto;height:490px;background: url(../img/probox.png) no-repeat;margin-bottom: 15px;}
	/* 产品 */
	#container .dask{width:100%;}
	#container .dask .daskbox{width:1200px;margin:0 auto;height:250px;background: #c5b9b9;}
	#container .dask .daskbox ul li{position:relative;}
	#container .dask .daskbox ul li a{width:200px;height: 70px;padding: 0;margin: 0;line-height: 30px;text-align: center;}
	#container .dask .daskbox ul li a i{display:block;}
	#container .dask .daskbox ul li span.iconfont{position: absolute;width: 23px;height: 23px;top: 23px;left: 23px;background: #333;z-index: 1;display:none;}
	#container .dask .daskbox ul li:hover span.iconfont{display:block;}
	#container .dask .daskbox ul li div.fortime{width:70px;height:34px;float:left;}


	/* 客服中心 */
	#container .service{width:100%;}
	#container .service .servicebox{width:1200px;margin:0 auto;height:184px;}
	#container .service .servicebox h3{line-height: 45px;background:#e4e4e4;text-align: center;font-size: 25px;}
	#container .service .servicebox .ser{border: 2px solid #999;height:78px;margin: 30px 0;}
	#container .service .servicebox .ser ul li{height:35px;float:left;border-right: 1px solid #999;margin-top: 21px;}
	#container .service .servicebox .ser ul li:last-child{border-right:0;}
	#container .service .servicebox .ser ul li p.for{text-align: center;font-size: 18px;font-weight: bold;line-height: 35px;}
	#container .service .servicebox .ser ul li div.fortime{width:70px;height:34px;float:left;}
	#container .service .servicebox .ser ul li div.fortime p{margin:0;font-size: 12px;line-height: 18px;text-align: center;margin:0;color:#cacaca;}
	#container .service .servicebox .ser ul li div.forbtn{width:439px;height:34px;float:left;}
	#container .service .servicebox .ser ul li div.forbtn i{display: inline-block;width: 21px;height: 16px;background:url(../img/callme.gif) no-repeat  -82px -4px;vertical-align: middle;}
	#container .service .servicebox .ser ul li div.forbtn a{display:block;float:left;height:34px;line-height: 34px;margin: 0 5px 0 10px;color: #000000;text-decoration: none;}



	/* 办公系列产品 */
	#container .office{width:100%;}
	#container .office .offbox{width:1200px;height:560px;margin:0 auto 50px;}

	.offbox .offone{width:510px;height: 100%;float:left;}
	.offbox .offone .one_left{width: 210px;height: 100%;float:left;}
	.pro1{background: url(../img/one_left_banner1.png) no-repeat;}
	.pro2{background: url(../img/one_left_banner2.png) no-repeat;}
	.pro3{background: url(../img/one_left_banner3.png) no-repeat;}
	.pro4{background: url(../img/one_left_banner4.png) no-repeat;}
	.pro5{background: url(../img/one_left_banner5.png) no-repeat;}
	.pro6{background: url(../img/one_left_banner6.png) no-repeat;}

	.offbox .offone .one_left ul{margin: 70px 0 0 0;}
	.offbox .offone .one_left ul li a{text-decoration: none;line-height: 30px;font-size: 14px;font-family: "microsoft yahei";color: #000000;margin: 0 28px;}
	.offbox .offone .one_left ul li a:hover{color: #F22F5B;}
	.offbox .offone .one_right{width: 300px;height: 100%;float:left;background: url(../img/one_left.png) no-repeat;}

	.offbox .offtwo{width:460px;height: 100%;float:left;}
	.offbox .offtwo ul{width: 100%;height: 100%;}
	.offbox .offtwo ul li{width:33.33%;height: 33.33%;float:left;}
	.offbox .offtwo ul li:hover{box-shadow: 1px 1px 2px 1px #efefef;}
	.offbox .offtwo ul li a{text-decoration: none;}
	.offbox .offtwo ul li span{display:block;font-size: 12px;width:93px;margin-left: 15px;color: #999;line-height: 21px;}
	.offbox .offtwo ul li span:first-child{border-bottom: 1px solid #F22F5B;}
	.offbox .offtwo ul li span.money{color:#F22F5B;}
	.offbox .offtwo ul li img{margin:12px auto;display: block;}

	.offbox .offthree{width:230px;height: 100%;float:left;}	
	.offbox .offthree .btn li:first-child{margin-left: 50px;}
	.offbox .offthree .mF_tab{background: url(../img/rexiao.png) no-repeat top left;}
	.offbox .offthree .cont li ul li a{text-decoration: none;}
	.offbox .offthree .cont li ul li:hover{box-shadow: 1px 1px 2px 1px #efefef;}
	.offbox .offthree .cont li ul li span{display:block;font-size: 12px;width:93px;margin-left: 15px;color: #999;line-height: 21px;}
	.offbox .offthree .cont li ul li span:first-child{border-bottom: 1px solid #F22F5B;}
	.offbox .offthree .cont li ul li span.money{color:#F22F5B;}
	.offbox .offthree .cont li ul li img{margin:9px auto;display: block;}

	/* 收藏 */
	#container .collection{width:100%;height:120px;background: url(../img/shoucang.png) no-repeat center center;margin:0 0 50px 0;}

	/* 底部导航 */
	#container .navigation{width:100%;}
	#container .nabox{width:1200px;margin:0 auto 50px;height:180px;}
	#container .nabox ul li{width: 150px; height: 180px; float: left; border-right: 1px solid #efefef;}
	#container .nabox ul li:last-child{border-right:0;}
	#container .nabox ul li a.tlt_btn{width: 100%;display: block;text-decoration: none;text-align: center;}
	#container .nabox ul li a.tlt_btn span{color: #333;font-weight: bold;line-height: 30px;}
	#container .nabox ul li a.tlt_btn img{margin: 5px 0 10px;}
	#container .nabox ul li .nabtn a{text-decoration: none;margin: 0 15px;line-height: 15px;color: #999;font-size: 14px;}
	#container .nabox ul li .nabtn a:hover{color:#F22F5B;}


	/*旺铺推荐*/
	#container #copyright {text-align: center;padding: 10px 0;}

/* 底部 */
#footer .g_foot{width: 950px;height:110px;margin: 0 auto;font: 12px/1.5 tahoma,arial,宋体b8b\4f53;padding: 7px 0 9px;color: #b0b0b0;text-align: left !important;position: relative;clear: both;}
#footer .g_foot .g_foot-ali {margin-right: 100px;padding-left: 0;border-bottom: 1px solid #D3D3D3;padding-bottom: 8px;height: 30px;}
#footer .g_foot .g_foot-nav {margin-top: 8px;line-height: 20px;}
#footer .g_foot .g_foot-toy {position: absolute;background: url(../img/footlogo.png) no-repeat;width: 69px;height: 100px;display: block;right: 0px;top: 0px;}
.g_foot-ali a, .g_foot-ali b {float: left;}
.g_foot a {margin: 0 2px;color: #3e3e3e;text-decoration: none;}
.g_foot a:hover{color:#ff6600;}
























































